<div class="jumbotron home-jumbotron">
  <h1 class="display-4">無駄遣いを可視化。</h1>
  <p class="lead">無駄遣いチェッカーはweb上で使える家計簿サービスです。</p>
  <hr class="my-4">
  <p>まずは会員登録をして始めてみましょう！</p>
  <a class="btn btn-lg signup-button" href="/signup" role="button">会員登録</a>

  <div class="sample-login">
    <p>登録をしなくても、下のボタンでサンプルユーザーへログインし、機能を試すことができます。</p>
    <a class="btn btn-lg signup-button" href="/sample_login" role="button">試してみる</a>
  </div>
</div>