<div class="jumbotron home-jumbotron">
  <h1 class="display-4">コツコツ、賢く節約。</h1>
  <p class="lead">無駄遣いチェッカーはあなたの日々の出費を管理し、健全な家計の構築を助けます。</p>
  <hr class="my-4">
  <p>まずは会員登録をして始めてみましょう！</p>
  <a class="btn btn-lg signup-button" href="#" role="button">会員登録</a>
</div>