<%= provide(:title, "ホーム") %>
<div class="jumbotron home-jumbotron">
  <h1 class="display-4">家計簿で、つながる。</h1>
  <p class="lead">つながる家計簿は家計簿アプリとSNSを組み合わせたサービスです。</p>
  <hr class="my-4">
  <p>まずは会員登録をして始めてみましょう！</p>
  <a class="btn btn-lg signup-button" href="/signup" role="button">会員登録</a>
</div>