<%= month_calendar(attribute: :record_date, events: user.daily_balances.all) do |date, balances| %>
  <%= date.day %>

  <% balances.each do |balance| %>
    <div class="amount-expenditure">
      支出: ¥<%= balance.expenditure %>
    </div>
    <div class="amount-income">
      収入: ¥<%= balance.income %>
    </div>
  <% end %>
<% end %>