<%= month_calendar(attribute: :record_date, events: user.daily_balances.all) do |date, balances| %>
  <% balances.each do |balance| %>
    <%= link_to "#{date.day}", user_daily_balance_url(user, balance) %>
    <div class="amount-expenditure">
      支出: ¥<%= balance.expenditure %>
    </div>
    <div class="amount-income">
      収入: ¥<%= balance.income %>
    </div>
  <% end %>
<% end %>