<%= month_calendar(attribute: :record_date, events: current_user.book_records.all) do |date, records| %>
  <%= date.day %>

  <% records.each do |record| %>
    <% if record.direction == 0 %>
      <div class="amount-expenditure">
        支出: ¥<%= record.amount %>
      </div>
    <% else%>
      <div class="amount-income">
        収入: ¥<%= record.amount %>
      </div>
    <% end %>
  <% end %>
<% end %>