/* for simple_calendar */
.simple-calendar {
  color: black;

  thead {
    background-color: white;
  }

  .day {
    background-color: #ffe8ca;
  }

  /* Row of Sunday */
  .wday-0 {
    background-color: #ffd1d1
  }

  /* Row of Saturday */
  .wday-6 {
    background-color: #d1e3ff
  }
  
  .simple-calendar-date {
    font-size: 24px;

    .amount-expenditure {
      font-size: 12px;
      color: #f13d3d;
    }
  
    .amount-income {
      font-size: 12px;
      color: #3dd030;
    }
  }
}