.daily_balances {
  /* yield(body) */
  padding: 60px 0;

  .record-date-title {
    margin: 40px 0 40px 0px;
    color: white;
    text-align: center;
    font-size: 24px;
    background-color: #72d6c9;
    border: 2px ridge #ffffff;
    border-radius: 10px;
    padding: 4px 15px 4px 15px;
    width: 600px;
  }

  /* infomation sidebar */
  .total-daily-balance-title {
    margin: 0 0 2px 0px;
    color: white;
    text-align: center;
    font-size: 24px;
    background-color: #72d6c9;
    border: 2px ridge #ffffff;
    border-radius: 10px;
    padding: 4px 15px 4px 15px;
  }

  .total-expenditure {
    font-size: 32px;
    border: 3px ridge white;
    color: white;
    border-radius: 10px;
    background-color: #ff7d7d;
  }

  .total-income {
    font-size: 32px;
    color: white;
    border: 3px ridge white;
    border-radius: 10px;
    background-color: #63f156;
  }

  .daily-balance-ratio-title {
    margin: 10px 0 5px 0px;
    color: white;
    text-align: center;
    font-size: 24px;
    background-color: #72d6c9;
    border: 2px ridge #ffffff;
    border-radius: 10px;
    padding: 4px 15px 4px 15px;
  }

  .categorized-exp-chart-title {
    margin: 20px 0 5px 0px;
    color: white;
    text-align: center;
    font-size: 24px;
    background-color: #72d6c9;
    border: 2px ridge #ffffff;
    border-radius: 10px;
    padding: 4px 15px 4px 15px;
  }

  /* book_record list */
  .book-record-element {
    height: 150px;
    margin: 10px 0;

    .expenditure-category {
      font-size: 36px;
    }

    .expenditure-amount {
      font-size: 24px;
      margin-top: 40px;
      color: #f13d3d;
      float: right;
    }
  
    .income-category {
      font-size: 36px;
    }

    .income-amount {
      font-size: 24px;
      margin-top: 40px;
      color: #3dd030;
      float: right;
    }
  }
}