.daily_balances {
  /* yield(body) */
  padding: 60px 0;

  .record-date-title {
    margin: 40px 0 40px 0px;
    color: white;
    text-align: center;
    font-size: 24px;
    background-color: #72d6c9;
    border: 2px ridge #ffffff;
    border-radius: 10px;
    padding: 4px 15px 4px 15px;
    width: 600px;
  }

  .book-record-element {
    height: 150px;
    margin: 10px 0;

    .expenditure-category {
      font-size: 36px;
    }

    .expenditure-amount {
      font-size: 24px;
      margin-top: 40px;
      color: #f13d3d;
      float: right;
    }
  
    .income-category {
      font-size: 36px;
    }

    .income-amount {
      font-size: 24px;
      margin-top: 40px;
      color: #3dd030;
      float: right;
    }
  }
}