/* default tag styles for static-pages */
.static_pages {
  /* yield(body) */
  padding-top: 70px;
  background-image: url("bg.jpg");
  background-size: cover;
  background-color: gray;
  background-blend-mode: multiply;
}
