/* default tag styles for static-pages */

/* HACK:controller.controller_nameを使ってクラス名を生成している関係上、どうしても_表記になる */
/* not logged in */
.static_pages {
  /* yield(body) */
  padding-top: 60px;
  background-image: url("bg.jpg");
  background-size: cover;
  background-color: gray;
  background-blend-mode: multiply;

    /* home page */
  .signup-button {
    background-color: #72d6c9;
    border-color: #7aeede;
    color: white;
    &:hover {
      background-color: #7aeede;
      color: white;
    }
  }

  .home-jumbotron {
    background-color: rgba(50,50,50,0.9);
    color: white;
  }
}

/* logged in - ログイン中の場合はこのスタイルで上書きする */
.body-logged-in {
  padding-top: 60px;
  background-image: initial;
  background-color: #bce0dc;

  /* profile page header */
  .profile-header {
    background-color: #333333;
    margin-top: -10px;
  }

  .header-image {
    opacity: 0.3;
  }

  /* profile page sidebar */
  .profile-sidebar {
    background-color: #df7599;
    color: white;

    .profile-icon {
      margin-top: 16px;
      padding: 20px;

      .icon-image {
        border: 4px ridge #ffc785;
        border-radius: 10px;
      }
    }

    .profile-name {
      font-size: 28px;
    }

    .profile-created_at {
      font-size: 18px;
    }
  }

  /* profile page information */
  .profile-information {
    background-color: #ffc785;
    color: white;
  }
}
